<div class="hero-wrapper">
    <div class="hero-section text-white">
        <div class="text-center">
            <h1 class="display-3 fw-bold">F1 Garage - Admin Dashboard</h1>
            <p class="lead">Welcome Admin</p>
        </div>
    </div>
</div>