@{
    ViewData["Title"] = "Home";
}

<div class="hero-wrapper">
    <div class="hero-section text-white">
        <div class="text-center">
            <h1 class="display-3 fw-bold">F1 Garage</h1>
            <p class="lead">Buy all your parts in one place!</p>
        </div>
    </div>
</div>