@model F1_Models.Tyres

<form method="post">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Create Tyre</h2>
                </div>
            </div>
        </div>

        <div class="card-body p-4">
            <div class="border p-3">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Type" class="form-label"></label>
                    <input asp-for="Type" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="QuantityAllowed" class="form-label"></label>
                    <input asp-for="QuantityAllowed" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-controller="Tyres" asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}